@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ToDoList.Models.Category>

<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h2>To Do List</h2>
    <h4>Please see the @Html.DisplayNameFor(model => model.Name)s  below</h4>
    <ul>
        @foreach(var listItem in Model)
        {
            <li>@Html.DisplayFor(modelItem => listItem.Name)</li>
<!--			<ul>
				@foreach(var task in listItem.Tasks)
				{
				    <li>task.Description</li>
				}
			</ul>
-->        }
    </ul>
</body>
</html>